@import '~fira/fira.css';
@import './lib/colors.scss';

:root {
  --white: #fff;
  --white-a96: rgba(255, 255, 255, .96);
  --large-unit-box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .1);
  --large-unit-border-radius: 4px;
  --medium-unit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
  --medium-unit-border-radius: 3px;
  --small-unit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  --small-unit-border-radius: 2px;
}

html,
* {
  box-sizing: border-box;
  font-family: "fira sans", sans-serif;
}

body {
  color: var(--grey-90);
  margin: 0;
}

#modal {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    list-style: none;
  }

  > div {
    animation: disappear 500ms forwards;
    animation-delay: 2s;
    width: 350px;
    border-radius: 5px;
    color: #fff;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(12, 12, 12, .75);
    opacity: 0;
    transition: opacity 1s ease;

    &.fade-in {
      opacity: 1;
    }
  }
}

@keyframes slide-down {
  0% {
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 1;
    transform: scale(1.08);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}
