@import './lib/colors.scss';

:root {
  --white: #fff;
  --white-a96: rgba(255, 255, 255, .96);
  --large-unit-box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .1);
  --large-unit-border-radius: 4px;
  --medium-unit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  --medium-unit-border-radius: 3.19px;
  --small-unit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  --small-unit-border-radius: 2px;
}

html,
* {
  box-sizing: border-box;
  color: var(--grey-90);
  font-family: "fira sans", sans-serif;
}

body {
  margin: 0;
}
