<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photon Theme Generator</title>
    <link rel="icon" type="image/svg+xml" href="images/icon.svg">
  </head>
  <body>
    <header>
      <h1>Firefox Theme Generator</h1>
    </header>
    <div class="themr">
      <div class="picker-sets"></div>
      <div class="backgrounds">
    </div>
    </div>
  </div>
  </body>
</html>
