:root {
  --slider-height: 26px;
  --unit-box-shadow-1: 0 0 0 1px rgba(0, 0, 0, 0.04);
  --unit-box-shadow-2: 0 2px 4px rgba(0, 0, 0, 0.04);
  --white: #fff;
}

html,
* {
  box-sizing: border-box;
  color: var(--grey-90);
}

body {
  background: var(--grey-10);
  font-family: "fira sans", sans-serif;
  margin: 0;
}

header {
  background: var(--white);
  box-shadow: var(--unit-box-shadow-1), var(--unit-box-shadow-2);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

header h1 {
  background-image: url(../images/icon.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 20px auto;
  font-size: 20px;
  padding-left: 26px;
}

h1,
h2 {
  font-weight: 300;
}

h2 {
  font-size: 22px;
  margin-top: 0;
}

.themr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picker-sets {
  display: grid;
  grid-auto-rows: 300px;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  margin: 0 20px 20px;
}

.picker-set{
  align-items: stretch;
  background: var(--white);
  box-shadow: var(--unit-box-shadow-1), var(--unit-box-shadow-2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  width: 100%;
}

label {
  color: var(--grey-50);
  font-size: 12px;
  margin-bottom: 2px;
}

.picker-set div {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-bottom: 20px;
  width: 100%;
}

.picker-set input[type="number"] {
  -moz-appearance: textfield;
  background: var(--grey-10);
  border: 0;
  font-size: 16px;
  height: var(--slider-height);
  padding: 6px;
  text-align: right;
  width: 50px;
}

input[type="number"]:focus, 
input[type="range"]:focus + input[type="number"] {
  box-shadow: 0 -2px 0 var(--teal-60) inset;
}

input[type="range"] {
  display: flex;
  flex: 1 1;
  height: var(--slider-height);
  margin: 0;
  padding: 0;
}

input[type=range]::-moz-range-thumb {
  background: transparent;
  border-radius: 1px;
  border: 1px solid var(--grey-50);
  box-shadow: 0 0 0 1px var(--white) inset;
  cursor: pointer;
  height: calc(var(--slider-height) - 4px);
  transition: box-shadow 500ms;
  width: 10px;
}

input[type=range]:focus {
  outline: 01px solid white;
}

input[type=range]::-moz-range-track {
  background: transparent;
  border-radius: 1.3px;
  box-shadow: none;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}

.backgrounds {
  display: grid;
  grid-auto-rows: 120px;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 170px);
  justify-content: center;
}

.bg {
  background: white;
  border: 1px solid transparent;
  box-shadow: var(--unit-box-shadow-1), var(--unit-box-shadow-2);;
  cursor: pointer;
  display: flex;
  padding: 10px;
}

.bg-inner {
  flex: 1;
  border-radius: 3px;
}

.bg.active {
  border: 1px solid var(--teal-60);
}

.h,
.s,
.l,
.a {
  height: 20px;
  margin: 0 0 20px;
  position: relative;
  z-index: 2;
}
