@import './lib/colors.scss';

:root {
  --slider-height: 26px;
  --white: #fff;
  --unit-box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .1);
  --unit-border-radius: 4px;
}

html,
* {
  box-sizing: border-box;
  color: var(--grey-90);
  font-family: "fira sans", sans-serif;
}

body {
  margin: 0;
}
