<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Theming demo for Firefox Quantum and beyond." />
    <title>Firefox Themer</title>
    <link rel="icon" type="image/svg+xml" href="images/icon.svg" />
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="./vendor/json-url.js"></script>
  </body>
</html>
