<html lang="en">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="initial-scale=1">
    <title>ThemesRFun</title>
  </head>
  <body>
    <h1>ThemesRFun! Yay!</h1>
    <div id="root">
      <%- htmlWebpackPlugin.options.body %>
    </div>
  </body>
</html>
