@import '~fira/fira.css';
@import './lib/colors.scss';

:root {
  --white: #fff;
  --white-a96: rgba(255, 255, 255, .96);
  --large-unit-box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .1);
  --large-unit-border-radius: 4px;
  --medium-unit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
  --medium-unit-border-radius: 3px;
  --small-unit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  --small-unit-border-radius: 2px;
}

html,
* {
  box-sizing: border-box;
  color: var(--grey-90);
  font-family: "fira sans", sans-serif;
}

body {
  margin: 0;
}

@keyframes slide-down {
  0% {
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translate3d(0, 60px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 1;
    transform: scale(1.08);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
